{% extends 'base.html.twig' %}

{% block title %}Section Bourse{% endblock %}

{% block body %}
    <style>

    </style>

    <div class="container">
        <h1>Liens utiles</h1>
        <ul>
            <li><a target="_blank" href="https://www.boursorama.com">Boursorama</a></li>
            <li><a target="_blank" href="https://finances.yahoo.com">Yahoo Finances</a></li>
        </ul>
        <a href="{{ path('bourse.position') }}">Liste des positions</a>
        <div>
            <h2>Valeurs</h2>
            <input type="text" id="search">
            <a href="{{ path('stock.detail', {id: 1}) }}">Détail d'une action</a>
        </div>
        <div>
            <h2>Mes 5 derniers trades</h2>
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
        </div>
        <form id="form_search" action="{{ path('stock.search') }}" class="form-inline mb-2">
            <div class="form-group">
                <label for="stock_search" class="mr-sm-2 sr-only">Isin</label>
                <input id="stock_search" name="stock_search" class="form-control mr-sm-2"
                       type="text" required placeholder="ISIN">
            </div>
            <button type="submit" class="btn btn-info">Rechercher la valeur</button>
        </form>

{#        <a href="{{ path('order.new') }}" class="btn btn-secondary">Nouvel ordre</a>#}

        <div id="calendar-holder" class="mt-2" data-events-url="{#{{ path('fc_load_events') }}#}"></div>
    </div>
{% endblock body %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('calendar') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('calendar') }}
    <script>

        $(() => {
            $('#form_search').submit(function (e) {
                e.preventDefault();
                let data = $(this).serialize();
                $.ajax({
                    url: '{{ path('stock.search') }}',
                    type: 'post',
                    data: data,
                    success: function (response) {
                        console.log(response);
                    }
                })
            });

            $('#search').easyAutocomplete({
                url: function(term) { return '{{ path('stock.local.search') }}'; },
                // data: {name: $('#search').val()},
                getValue: function (element) {
                    return element.name;
                },
                minCharNumber: 3,
                // getValue: 'name',
                ajaxSettings: {
                    dataType: "json",
                    method: "POST",
                    data: {
                        dataType: "json"
                    }
                },
                preparePostData: function (data) {
                    data.term = $('#search').val();
                    return data;
                },
                requestDelay: 400,
                list: {
                    onClickEvent: function() {
                        let id = $('#search').getSelectedItemData().id;
                        // console.log(value);
                        location.replace('/bourse/stock/' + id + '/detail');
                    }
                },
                theme: 'bootstrap'
            });
        });
    </script>
{% endblock javascripts %}