{% extends 'base.html.twig' %}

{% block title %}Détail du projet{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-10">
                <h2>Fiche valeur {{ action.nom }}
                    <button class="btn btn-info maj" data-method="getProfile"
                            title="Mettre à jour la fiche valeur">
                        <i class="fas fa-sync"></i>
                    </button>
                </h2>
                {{ action.isin }} {{ action.ticker }}

            </div>
            <div class="col-md-2">
                <img src="{{ action.logo }}" alt="logo">
            </div>
        </div>

        <br>
        IPO: {{ action.ipo|date('d/m/Y') }}
        <br>
        Valorisation: {{ action.capitalisation|number_format }} MEur
        <br>
        Actions en circulation: {{ action.actionsEnCirculation|number_format }}
        <br>
        Site internet : <a target="_blank" href="{{ action.webUrl }}">{{ action.webUrl }}</a>
        <br>
        Lien Boursorama : <a target="_blank" href="{{ action.lienBoursorama }}">Lien</a>
        <hr>
        <div class="row">
            {% if action.cotes[0] is defined %}
                <div class="col-md-6">
                    <h5>Cours au {{ action.cotes[0].creeLe|date }}
                        <button class="btn btn-sm btn-light maj" data-method="getCote"
                                title="Récupérer le cours">
                            <i class="fas fa-sync"></i>
                        </button>
                        <button class="btn btn-sm btn-light action-alerte"
                                title="Créer une alerte">
                            <i class="fas fa-bell"></i>
                        </button>
                    </h5>
                    <br>
                    <b style="font-size: 2em;">{{ action.cotes[0].prix|format_currency('EUR', {fraction_digit: 4}) }}</b>
                    <br>
                    <span style="font-size:1.5em; color: {{ action.cotes[0].getPreviousPercent > 0 ? '#2cc357' : '#f11c3a' }};">
                    {{ action.cotes[0].getPreviousPercent }} %
                </span>
                </div>
                <div class="col-md-6">
                    <table class="table table-sm">
                        <tr>
                            <th>Ouverture</th>
                            <th>Cloture veille</th>
                        </tr>
                        <tr>
                            <td>{{ action.cotes[0].prixOuverture|format_currency('EUR') }}</td>
                            <td>{{ action.cotes[0].prixClotureVeille|format_currency('EUR') }}</td>
                        </tr>
                        <tr>
                            <th>+ Bas</th>
                            <th>+ Haut</th>
                        </tr>
                        <tr>
                            <td>{{ action.cotes[0].prixMin|format_currency('EUR') }}</td>
                            <td>{{ action.cotes[0].prixMax|format_currency('EUR') }}</td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <div class="col-md-12">
                    Aucun cours récupéré pour cette action.
                    <button class="btn btn-sm btn-light maj" data-method="getCote"
                            title="Récupérer le cours">
                        <i class="fas fa-sync"></i>
                    </button>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
        <hr>
        <button class="btn btn-secondary maj" data-method="getBasicFinancial"
                title="Récupérer le résumé">
            <i class="fas fa-list-ul"></i> Récupérer le résumé
        </button>

        <a href="{{ path('order.new', {id: action.id}) }}">Passer un ordre</a>
        <div id="div_res"></div>
        <table class="table table-sm" id="table_res"></table>
        <div>
            <h5>Historique des ordres</h5>
            {% if action.ordres is empty %}
                <small>Aucun ordre passé sur cette valeur</small>
            {% else %}
                <ul>
                    {% for ordre in action.ordres %}
                        <li>{{ ordre.date|date('d/m/y') }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <!--
        // Modals
    -->
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="alert-modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Nouvelle alerte {{ action.nom }} </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(() => {
            $('.maj').click(function () {
                console.log($(this).data('method'));
                getInfo($(this).data('method'));
            });
            $('.action-alerte').click(function () {
                // let userid = $(this).data('id');
                $.ajax({
                    {#//url: '{{ path('action.get-alert-form', {id: action.id}) }}'#}
                    url: '{{ path('action.alerte.new', {id: action.id}) }}',
                    type: 'post',
                    data: {stockId: {{ action.id }}},
                    success: function (response) {
                        // Add response in Modal body
                        $('.modal-body').html(response);
                        // Display Modal
                        $('#alert-modal').modal('show');
                    }
                });
            });
        });

        function getInfo(method) {
            $.ajax({
                url: '{{ path('action.json', {id: action.id}) }}',
                type: 'post',
                data: {method: method},
                cache: false,
                // processData: false,
                start: function () {
                    $('#div_res').html('Ajax en cours...');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#div_res').html(xhr.responseText + ' ' + thrownError);
                },
                success: function (response) {
                    //console.log(response);
                    // $('#div_res').html(response.data.metric.beta);
                    switch (method) {
                        case 'getBasicFinancial':
                            $('#table_res').html();
                            buildKeyValueTable(response.data.metric, '#table_res');
                            break;
                        case 'getProfile':
                        case 'getCote':
                        default:
                            location.reload();
                    }

                },
                complete: function () {
                    //$('#div_res').html('');
                }
            });
        }
    </script>
{% endblock javascripts %}